body {
    text-transform: uppercase;
}

.box {
    width: 200px;
    height: 200px;
    background-color: burlywood;
}

.border {
    border-radius: 10px;
    border: 10px solid yellow !important;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button {
    background-color: transparent;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    text-transform: uppercase;
}